*.iml
.gradle
/local.properties
/.idea
.DS_Store
/*/*/androidTest
/*/*/test
/build
/captures
.externalNativeBuild
.idea/
PullToRefreshLibrary/build/generated/assets/
PullToRefreshLibrary/build/generated/res/
PullToRefreshLibrary/build/generated/source/aidl/
PullToRefreshLibrary/build/generated/source/apt/
PullToRefreshLibrary/build/generated/source/rs/
PullToRefreshLibrary/build/intermediates/bundles/debug/aidl/
PullToRefreshLibrary/build/intermediates/bundles/debug/assets/
PullToRefreshLibrary/build/intermediates/bundles/release/aidl/
PullToRefreshLibrary/build/intermediates/bundles/release/assets/
PullToRefreshLibrary/build/intermediates/bundles/release/jni/
PullToRefreshLibrary/build/intermediates/bundles/release/libs/
PullToRefreshLibrary/build/intermediates/classes/debug/
PullToRefreshLibrary/build/intermediates/dependency-cache/
PullToRefreshLibrary/build/intermediates/incremental-safeguard/debug/
PullToRefreshLibrary/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
PullToRefreshLibrary/build/intermediates/incremental/packageDebugAndroidTest/
PullToRefreshLibrary/build/intermediates/incremental/packageDebugResources/aapt-temp/
PullToRefreshLibrary/build/intermediates/incremental/packageReleaseResources/aapt-temp/
PullToRefreshLibrary/build/intermediates/incremental/processDebugAndroidTestResources/
PullToRefreshLibrary/build/intermediates/incremental/processDebugResources/
PullToRefreshLibrary/build/intermediates/incremental/processReleaseResources/
PullToRefreshLibrary/build/intermediates/jniLibs/
PullToRefreshLibrary/build/intermediates/lint/
PullToRefreshLibrary/build/intermediates/manifest/tmp/
PullToRefreshLibrary/build/intermediates/rs/
PullToRefreshLibrary/build/intermediates/shaders/
PullToRefreshLibrary/build/intermediates/transforms/
PullToRefreshLibrary/build/tmp/
